
#testingid {
    color: beige;
    font-family: 'Courier New', Courier, monospace;
}


#aboutme {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 3000px;
    left: 20vw;
    width: 60vw;
    margin: 0px;
    border: 5px dotted cyan;
    padding: 10px;
    
}