
h1, h2 {
    color: blue;
}

* {
//    background-color: rgb(33, 230, 154);
    background-image: linear-gradient(orange,pink);
}


.tiplist {
    margin: 80px 80px 40px 40px;
    padding: 10px 10px 10px 10px;
}

.tip {
    margin: 100px 0 100px 0;
    border: 6px solid blue;
    border-radius: 10px;
    box-shadow: 4px 4px #999;
    padding: 2px;
    background-color: #aacc66;
}


